
<div>
    无此权限
    <a class="layui-btn layui-btn-normal" onclick="back()">返回上一级</a>
</div>
<script>

    function back() {
       window.frames.history.back();
        return false;
    }
    </script>

