@{
    ViewData["Title"] = "Home Page";
    var MainPage = "/Home/Main";
}
@using Jun.Admin.Service.Dto
@model List<MenuTreeNodeDto>
@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="layui-layout layui-layout-admin app-container">
    <div class="layui-header">
        <div class="layui-logo">DotNetCore后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="#" lay-id="/Home/Index">主页</a>
            </li>
            @{
                foreach (var menu in Model)
                {
                    <li class="layui-nav-item">
                        <a href="">@menu.label</a>
                    </li>
                }
            }

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    @*<img src="http://t.cn/RCzsdCq" class="layui-nav-img">Jun*@
                    <img src="https://avatars2.githubusercontent.com/u/16729118?s=40&v=4" class="layui-nav-img" />管理员
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/Login/Logout">退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-side-menu layui-bg-black adminui-navMenu">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                @Html.Raw(ViewData["LeftMenuHtml"])
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div style="padding: 15px;">
            <div class="layui-tab"  lay-allowClose="true" lay-filter="layadmin-layout-tabs" overflow>
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="/Home/Index">主页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        @*<iframe class="adminui-iframe adminui-iframe-active" frameborder="0" src="@MainPage" name="@("adminIframe-"+MainPage)"></iframe>*@
                      <partial name="Main" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="/js/main.js"></script>
    

}