@{
    ViewData["Title"] = "Home Page";
    var MainPage = "/Home/Main";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="layui-layout layui-layout-admin app-container">
    <div class="layui-header">
        <div class="layui-logo">DotNetCore后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="">主页</a>
            </li>
            <li class="layui-nav-item">
                <a href="">权限管理</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">Jun
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/Login/Logout">退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-side-menu layui-bg-black adminui-navMenu">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">权限管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="#" lay-id="/User/Index" tab-text="用户管理">用户管理</a>
                        </dd>
                        <dd>
                            <a href="#" lay-id="/Menu/Index" tab-text="菜单管理">菜单管理</a>
                        </dd>
                        <dd>
                            <a href="#" lay-id="/Role/Index" tab-text="角色管理">角色管理</a>
                        </dd>
                        <dd>
                            <a href="#" lay-id="/Function/Index" tab-text="功能管理">功能管理</a>
                        </dd>
                        <dd>
                            <a href="#" lay-id="/Auth/Index" tab-text="权限分配">权限分配</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">测试页面</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="#" lay-id="/Auth/AdminTest" tab-text="管理员权限">管理员权限</a>
                        </dd>
                        <dd>
                            <a href="#" lay-id="/Auth/UserTest" tab-text="普通用户权限">普通用户权限</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">其他</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">组件</a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="#" lay-id="" tab-text="评分">评分</a>
                                </dd>
                            </dl>
                        </dd>
                      
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div style="padding: 15px;">
            <div class="layui-tab"  lay-allowClose="true" lay-filter="layadmin-layout-tabs" overflow>
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="/Home/Index">主页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe class="adminui-iframe adminui-iframe-active" frameborder="0" src="@MainPage" name="@("adminIframe-"+MainPage)"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="/js/main2.js"></script>
    

}