<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-sm6">

            <label class="layui-form-label">菜单名:</label>
            <div class="adminui-field-detail">
                权限管理
            </div>

        </div>
        <div class="layui-col-sm6">
            <label class="layui-form-label">菜单地址:</label>
            <div class="adminui-field-detail">
                #
            </div>
        </div>
        <div class="layui-col-sm6">
            <label class="layui-form-label">父级菜单:</label>
            <div class="adminui-field-detail">
            </div>
        </div>
        <div class="layui-col-sm6">
            <label class="layui-form-label">图标:</label>
            <div class="adminui-field-detail">
            </div>
        </div>
        <div class="layui-col-sm6">
            <label class="layui-form-label">编号:</label>
            <div class="adminui-field-detail">
                1
            </div>
        </div>
        <div class="layui-col-sm6">
            <label class="layui-form-label">备注:</label>
            <div class="adminui-field-detail">
            </div>
        </div>
        <div class="layui-col-sm6">
            <label class="layui-form-label">创建时间:</label>
            <div class="adminui-field-detail">
                2019-01-16 10:00:00
            </div>
        </div>
        <div class="layui-col-sm6">
            <label class="layui-form-label">菜单权限:</label>
            <div class="adminui-field-detail">
                
            </div>
        </div>
    </div>
</div>

@*<link rel="stylesheet" href="~/layui/css/layui.css">
<link rel="stylesheet" href="~/layui/css/admin.css">

<script src="~/layui/layui.js"></script>*@
