@using  Jun.Admin.Service.Dto;
@model List<UserDto>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card" style="overflow:auto; height:400px;">
                <div class="layui-card-header">用户</div>
                <div class="layui-card-body layui-form">
                    <table border="0">
                        @{ foreach (var user in Model)
                            {
                                <tr>
                                    <td><input type="radio" value="@user.ID" title="@user.RealName" name="user"></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card" style="overflow:auto; height:400px;">
                <div class="layui-card-header">角色</div>
                <div class="layui-card-body">
                    <table id="auth-role-list" lay-filter="auth-role-list"></table>
                    <script type="text/html" id="auth-role-toolbar">
                        <a class="layui-btn layui-btn-xs" lay-event="auth">分配权限</a>
                    </script>
                </div>
                <div class="" style="text-align:right;">
                    <a class="layui-btn layui-btn-normal layui-btn-sm">保存</a>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card" style="overflow:auto; height:400px;">
                <div class="layui-card-header">权限</div>
                <div class="layui-card-body">
                    <div class="" id="menu-func-eleTree" lay-filter="menu-func-eleTree"></div>
                </div>
                <div class="" style="text-align:right;">
                    <a class="layui-btn layui-btn-normal layui-btn-disabled layui-btn-sm">保存</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;">
    <a class="layui-btn layui-btn-normal">提交</a>

</div>
@section css{
    <link rel="stylesheet" href="~/layui/css/eleTree.css">
}
<script>
    layui.config({
        base: "/layui/lay/extmodules/"
    }).use(['table', 'layer', 'form', 'eleTree'], function () {
        var table = layui.table;
        layer = layui.layer;
        form = layui.form;
        eleTree = layui.eleTree;
        table.render({
            elem: '#auth-role-list'
            , url: '/role/getrolelist' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                { checkbox: true },
                { field: 'ID', title: 'ID', width: 120, hide: true, fixed: 'left' }
                , { field: 'Name', title: '角色名', width: 100 }
                , { field: 'Code', title: '角色编码', width: 100 }
                , { fixed: 'right', title: "操作", align: 'center', toolbar: '#auth-role-toolbar' }
            ]]
        });
        var el = eleTree.render({
            elem: '#menu-func-eleTree',
            showCheckbox: true,
            checkOnClickNode: false,
            expandOnClickNode: true,
            //defaultExpandAll: true,
            url: "/Auth/GetAllMenuFuncTree",
            done: function (res) {
                el.reload({ data: res.data });
            }
        });
    });
</script>

